.taskContainer {
    margin: 0 14rem 0 16rem;
    display: flex;
    max-width: 1440px;
    gap: 0.6rem;
    flex-wrap: wrap;
}

h2, p {
    text-align: center;
}

h2 {
    margin-top: 4rem;
}

@media screen and (max-width: 920px) {
  .taskContainer {
    margin: 0 8rem;
    justify-content: center;

  }
}

@media screen and (max-width: 380px) {
  .taskContainer {
      margin: 0 4rem;
  }
}