.listItem {
    list-style: none;
}

.ideasList {
    display: flex;
    flex-direction: column;
    margin: 0 18rem;
}

.ideasCard {
    padding: 0.8rem 0.4rem;
    margin-top: 0.4rem;
    background-color: #E7E6F7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.4rem;
}

.addTask {
    margin-top: 0.2rem;
    margin-right: 0.4rem ;
    color: #AC26FF;
    font-size: 1.4rem;
}

@media screen and (max-width: 760px) {
  .ideasList {
    margin: 0 6rem;
}
}

@media screen and (max-width: 480px) {
  .ideasList {
    margin: 0 2rem;
}
}