.todosListContainer {
    display: flex;
    flex-direction: column;
    margin: 0 13rem;
}

.listItem {
    list-style: none;
}

.todosList {
    padding: 1rem 0.4rem;
    margin-top: 0.4rem;
    background-color: #E7E6F7;
    display: flex;
    align-items: center;
    justify-content: space-between;
}