.navBarContainer {
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #E7E6F7;
    padding: 0.4rem 0;
}