/* .navList {
    display: flex;
    justify-content: space-between;
} */

.navList a {
    text-decoration: inherit;
    color: inherit;
    padding-right: 1.8rem;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
}

.navList a:hover {
    color: #AC26FF;
    font-weight: 500;
}