.addTaskContainer {
    margin: 0 4rem 2rem 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 760px) {
  .addTaskContainer {
    margin: 0 4rem 2rem 6rem;
  }
}

@media screen and (max-width: 380px) {
  .addTaskContainer {
    margin: 0 2rem 2rem 2rem;
  }
}