@import url('https://fonts.googleapis.com/css2?family=Julee&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F7F7FF;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  --donedusted-color1: #9023ED;
  --donedusted-color2: #AC26FF;
  --donedusted-color3: #EA14FF;
  --donedusted-color4: #F7F7FF;
  --donedusted-color5: #FAE3E3;
}