.ideasList {
    list-style: none;
    font-size: 1.2rem;
    text-align: center;
}

.addButton {
    font-size: 18px;
    color: #AC26FF;
    position: relative;
    top: 4px;
    left: 4px;
}

@media screen and (max-width: 760px) {
  .ideasList {
    font-size: 1rem;
}
}

@media screen and (max-width: 480px) {
  .ideasList {
    font-size: 0.9rem;
}
}

