.todosContainer {
    position: absolute;
    right: 1%;
    top: calc(100% - 460px);
    width: 300px;
    height: 560px;
    /* background-color: #E2C2C6; */
    background-color: #E7E6F7;
    border-radius: 2rem;
}

.taskContainerHeading {
    text-align: center;
    font-size: 1.2rem;
}
