.todosContainer {
    margin: 2rem 12.5rem 0 12.5rem;
    padding: 0.4rem 0.6rem;
    background-color: #E7E6F7;
    border-radius: 2rem;
}

.taskContainerHeading {
    text-align: center;
    font-size: 1.2rem;
}
